// Place all the styles related to the maps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map {
  margin: auto;
  width: 1000px;
  height: 700px;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}
