<!-- For now, the styling is inline to setup, but will transfer over to css later -->
<h1> Welcome to WeatherOrNot</h1>
<h2> Start your travel route by setting a starting location and ending location</h2>

<div id="map" style='width: 800px; height: 400px;'></div>

